<div class="row my-4">
    <div class="col border text-white bg-dark text-center">Title</div>
    <div class="col border text-white bg-dark text-center">Author</div>
    <div class="col border text-white bg-dark text-center">Language</div>
    <div class="col border text-white bg-dark text-center">Genre</div>
    <div class="col border text-white bg-dark text-center">Price</div>
    <div class="col border text-white bg-dark text-center">BestSeller</div>
    <div class="col"></div>
    <div class="col"></div>
</div>